@font-face {
    font-family:'gunplay' ;
    src: url(gunplay\ rg.otf);
}
body{
    background-color: black;
    color: white;
    margin-top: 100px;
}
h1{
    text-align: center;
    font-family: 'gunplay';
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 8px;
    padding: 8px;
}
#res{
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 25pt;
}
h1:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.titulo{
    text-align: center;
}
#bot{
    font-size: 25px;
}
.botoes{
    font-size: 40px;
    justify-content: space-around;
    text-align: center;
    width: 50px;
}
.botoes:hover{
    background-color: rgb(99, 99, 99);
}
.botcima, .botmeio, .botbaixo{
    justify-items: center;
    text-align: center;
    margin-top: 8px;
}

.botopera{
    margin-top: 15px;
    text-align: center;
}
.botoesop{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botoesop:hover{
    background-color: rgb(99, 99, 99);
}